<!doctype html>
<html lang="en">
<head>
    <%- include('../partials/meta') %>
    <title>Account Info - AlphaDeck</title>
    <%- include('../partials/imports') %>
</head>
<body>
<%- include('../partials/nav') %>

<main class="shadow content fix-height">

    <%- include('../partials/aside',{user}) %>

    <section class="d-block scrollable">
        <div class="subnav">
            <h4>ACCOUNT</h4>
        </div>

        <div class="grid x3col fix-padd">

            <label class="input no-push-bottom">
                <span>First Name:</span>
                <input type="text" class="no-border" readonly value="<%= user.firstName %>">
            </label>

            <label class="input no-push-bottom">
                <span>Last Name:</span>
                <input type="text" class="no-border" readonly value="<%= user.lastName %>">
            </label>

            <label class="input no-push-bottom">
                <span>Username:</span>
                <input type="text" id="post-balance" class="no-border" readonly value="<%= user.username %>">
            </label>

            <label class="input no-push-bottom">
                <span>Email Address:</span>
                <input type="text" class="no-border" readonly value="<%= user.email %>">
            </label>

            <label class="input no-push-bottom">
                <span>Account Currency:</span>
                <input type="text" class="no-border" readonly value="<%= user.creditCurrency %>">
            </label>

            <label class="input no-push-bottom">
                <span>Account Credits:</span>
                <input type="text" id="stock-currency" class="no-border" readonly value="<%= user.credit %>">
            </label>

        </div>

    </section>

</main>

<%- include('../partials/footer') %>
</body>
</html>