<!doctype html>
<html lang="en">
<head>
    <%- include('../partials/meta') %>
    <title>Help desk - AlphaDeck</title>
    <%- include('../partials/imports') %>
</head>
<body>
<%- include('../partials/nav') %>

<main class="shadow content fix-height">

    <%- include('../partials/aside',{user}) %>

    <section class="center no-padd">
        <h1 class="quiet">HELP</h1>
    </section>

</main>

<%- include('../partials/footer') %>
</body>
</html>