<!doctype html>
<html lang="en">
<head>
    <%- include('../partials/meta') %>
    <title>Market - AlphaDeck</title>
    <%- include('../partials/imports') %>
</head>
<body>
<%- include('../partials/nav') %>

<main class="shadow content fix-height">

    <%- include('../partials/aside',{user}) %>

    <section class="no-padd column">

        <div class="center-search-input">
            <div class="search">
                <input type="search" name="stock-search-term" id="finder" title="Find stocks" placeholder="Find stocks by name or symbol">
                <%- include('../partials/search_svg') %>
            </div>
        </div>

        <div class="grid-x3 withShadow" id="results"></div>
    </section>

</main>

<script>
    function buy(symbol, elem=undefined){
        let loader = Tools.ButtonStateSwapper(elem);
        if (elem) loader.setLoading();
        location.href = "/transaction?intent=BUY&symbol=" + symbol;
    }

    function sell(symbol, elem=undefined){

        let loader = Tools.ButtonStateSwapper(elem);
        if (elem) loader.setLoading();

        AlphaDeck.getOwnedShareInfo(symbol, (r)=>{
            if (elem) loader.reset();
            if (r.isSuccessful){
                if (Object.keys(r.payload).length > 0){
                    location.href = "/transaction?intent=SELL&symbol=" + symbol;
                }
                else{
                    Tools.showAlert("No shares to sell", "You do not currently own any shares for this stock to sell.");
                }
            }
            else{
                Tools.showAlert(r.title, r.message);
            }
        });

    }

    function addResult(info){
        let temp = `<div class="item" ${info.volume === 0 ? 'disabled' : ''}>
                        <div class="stock-mini-info">
                            <h5>${info.symbol}</h5>
                            <p>${info.company}</p>
                            <span>Valued at ${ info.currency } ${ info.price } per share</span>
                        </div>
                        <div class="btn-options">
                            <button onclick="buy('${info.symbol}', this)" class="${info.volume === 0 ? '' : 'primary'}">BUY</button>
                            <button onclick="sell('${info.symbol}', this)" class="${info.volume === 0 ? '' : 'danger'}">SELL</button>
                        </div>
                    </div>`;

        $('#results').append(temp);
    }

    Tools.onReady(()=>{

        let $result = $('#results');

        $("#finder").on("keypress",function(e){
            let self = this;
            if (e.key === "Enter"){
                $(self).prop("readonly","true");
                let loader = Tools.showLoading(true);

                AlphaDeck.findStock(self.value, (r)=>{
                    loader.stop();
                    $(self).prop("readonly","");
                    $result.empty().attr("first_use","nope");
                    if (r.isSuccessful){
                        r.payload.forEach(p => {
                            addResult(p);
                        });
                    }
                    else{
                        Tools.showAlert(r.title, r.message);
                    }
                });

            }
        });

    });
</script>

<%- include('../partials/footer') %>
</body>
</html>