<!doctype html>
<html lang="en">
<head>
    <%- include('../partials/meta') %>
    <title>Market - AlphaDeck</title>
    <%- include('../partials/imports') %>
</head>
<body>
<%- include('../partials/nav') %>

<main class="shadow content fix-height">

    <%- include('../partials/aside',{user}) %>

    <section class="no-padd column">

        <div class="center-search-input">
            <div>
                <span id="filter-options">
                    <label><input type="checkbox" id="opt-avOnly"> Available Only</label>
                    <label><input type="checkbox" id="opt-nativeCurrencyOnly"> Local currency Only</label>
                </span>
            </div>

            <div class="search">
                <input type="search" name="stock-search-term" id="finder" title="Find stocks" placeholder="Find stocks by name or symbol">
                <%- include('../partials/search_svg') %>
            </div>

            <div></div>
        </div>

        <div class="grid x3col withShadow" id="results"></div>
    </section>

</main>

<script>
    function buy(symbol, elem=undefined){
        let loader = Tools.ButtonStateSwapper(elem);
        if (elem) loader.setLoading();
        location.href = "/transaction?intent=BUY&symbol=" + symbol;
    }

    function sell(symbol, elem=undefined){

        let loader = Tools.ButtonStateSwapper(elem);
        if (elem) loader.setLoading();

        AlphaDeck.getAllOwnedShareInfoBySymbol(symbol, (r)=>{
            if (elem) loader.reset();
            if (r.isSuccessful){
                if (r.payload.length === 1){
                    location.href = "/transaction?intent=SELL&hash=" + r.payload[0].identifier;
                }
                else if (r.payload.length > 1){
                    Tools.showAlert("Multiple sets found", "You have multiple sets of shares for this stock available. Please choose the one you want to sell from your share list",()=>{
                        location.href = "/home";
                    });
                }
                else{
                    Tools.showAlert("No shares to sell", "You do not currently own any shares for this stock to sell.");
                }
            }
            else{
                Tools.showAlert(r.title, r.message);
            }
        });

    }

    function addResult(info){
        let temp = `<div class="item" ${info.volume === 0 ? 'disabled' : ''}>
                        <div class="stock-mini-info">
                            <h5>${info.symbol}</h5>
                            <p>${info.company}</p>
                            <span>${ info.currency } ${ info.price } &times; ${info.volume}</span>
                        </div>
                        <div class="btn-options">
                            <button onclick="buy('${info.symbol}', this)" class="${info.volume === 0 ? '' : 'primary'}">BUY</button>
                            <button onclick="sell('${info.symbol}', this)" class="${info.volume === 0 ? '' : 'danger'}">SELL</button>
                        </div>
                    </div>`;

        $('#results').append(temp);
    }

    Tools.onReady(()=>{

        let $result = $('#results');
        let $avOnlyCheckbox = $('#opt-avOnly');
        let $nativeCurrencyCheckbox = $('#opt-nativeCurrencyOnly');

        $("#finder").on("keypress",function(e){
            let self = this;
            if (e.key === "Enter"){
                $(self).prop("readonly","true");
                let loader = Tools.showLoading(true);

                let filters = {
                    availableOnly: $avOnlyCheckbox.is(':checked'),
                    nativeCurrency: $nativeCurrencyCheckbox.is(':checked')
                };

                AlphaDeck.findStock(self.value,filters, (r)=>{
                    loader.stop();
                    $(self).prop("readonly","");
                    $result.empty().attr("first_use","nope");
                    if (r.isSuccessful){
                        r.payload.forEach(p => {
                            addResult(p);
                        });
                    }
                    else{
                        Tools.showAlert(r.title, r.message);
                    }
                });

            }
        });

        let $filterOptions = $('#filter-options');

        $('.center-search-input').on('mouseenter',function(){
            $filterOptions.css({
                opacity: 1
            });
        }).on('mouseleave', function(){
            if ($avOnlyCheckbox.is(':checked') === false && $nativeCurrencyCheckbox.is(':checked') === false ){
                $filterOptions.css({
                    opacity: 0
                });
            }
        });

    });
</script>

<%- include('../partials/footer') %>
</body>
</html>