<!doctype html>
<html lang="en">
<head>
    <%- include('../partials/meta') %>
    <title>Transaction - AlphaDeck</title>
    <%- include('../partials/imports') %>



    <script>
        const INTENT = '<%=intent%>';
        const SYMBOL = '<%=symbol%>';
        const HASH = '<%=identifier%>';
    </script>

    <script src="/public/scripts/page_transaction.js"></script>
</head>
<body>
<%- include('../partials/nav') %>

<main class="shadow content fix-height">

    <%- include('../partials/aside',{user}) %>

    <section class="d-block scrollable">
        <div class="subnav">
            <% if (intent === "BUY"){ %>
                <h4>Confirm Stock purchase: <%=symbol%></h4>
            <% } else { %>
                <h4>Transaction: <%=symbol%> sale</h4>
            <% } %>
        </div>

        <% if (intent === "BUY"){ %>
            <%- include('../partials/buy_stock_body', {user}) %>
        <% } else { %>
            <%- include('../partials/sell_stock_body', {user}) %>
        <% } %>

    </section>

</main>

<%- include('../partials/footer') %>
</body>
</html>